.gametile {
}

.stretchy-wrapper {
overflow: auto;
   background-color: #A3e;

}


td { display: block; float: left; border: 1px solid white; width: 25%; padding-bottom: 25%; background-color: #fee;  background-image: url("../img/stars.jpg");}

td div { position: absolute; }
table { display: block; width: 100%; }
tr { display: block; width: 100%; }
tbody { display: block; width: 100%; }


.ship {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 50;
    background-size:contain;
    background-repeat: no-repeat;
    min-height: 50px;
    min-width:  80px;
}
.ship.green {
    background-image: url("../img/ship1.gif");
}
.ship.red  {
    background-image: url("../img/ship2.gif");
}
.ship.blue  {
    background-image: url("../img/ship3.gif");
}

span.tab{

    padding: 0 5%%; /* Or desired space*/
}

.onoffswitch {
	margin: 0;
	display: block;
    position: relative; width: 126px;
	float: left;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Passive";
    padding-left: 14px;
    background-color: #00BF00; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Aggressive";
    padding-right: 14px;
    background-color: #E30000; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
   width: 20px; margin: 5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 92px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
